[2018-08-20 04:16] crro opened #1 "Posts and about do not seem to work"
Hi,

I just installed this and I seem to be having an issue displaying posts and the about page, do you have any ideas as to what might be happening? Even tho I have posts in my posts folder when i load the server nothing appears in the list. Similarly it does not seem to detect that I have an about page. Thanks for the help!

[2018-08-20 11:45] EmielH commented on #1
Thanks for using Tale! Without having a look at the source code of your site, it's hard to say why it's not working. Is your site working correctly when using a different theme?

Another suggestion is to ask at the Hugo forums at https://discourse.gohugo.io - there are many knowledgable people there; that might get you an answer quicker as I am probably the only one checking the Tale repository.

[2018-08-21 18:47] crro commented on #1
I actually figured it out! In your layout/index.html instead of having `"Type" "post"` -> `"Type" "posts"` it actually works. Thanks

[2018-08-21 18:58] EmielH commented on #1
This is not a bug in the theme. You should actually rename the folder containing your posts to `content/post` instead of altering the theme. All themes work with a folder called `post` for posts. Take a look at the example Hugo site used for the [Hugo themes website](https://themes.gohugo.io) here: https://github.com/gohugoio/HugoBasicExample

[2018-08-22 21:52] olizilla commented on #1
@EmielH I just hit this too. The confusion was caused by following the official quickstart guide which tells you to run

[code]
https://gohugo.io/getting-started/quick-start/#step-4-add-some-content

Is the quickstart wrong? should it be `hugo new post/my-first-post.md` ?

[2018-08-23 19:34] EmielH commented on #1
@olizilla Well spotted! It may be a bug in the theme after all. Apparently, the quickstart should be working correctly. See https://github.com/gohugoio/hugoDocs/issues/436

I will investigate! I don't think changing `post` to `posts` is the solution because that will break the theme on the theme site, so there is probably a different way to get the correct type name.

[2018-08-23 20:11] crro commented on #1
Yes @olizilla, I later looked at the quickstart and that is why it was not working for me. Cool, thanks for investigating @EmielH

[2018-08-25 08:25] EmielH commented on #1
@crro @olizilla Could you check if this now works correctly for you?

[2018-08-29 23:06] lizhuohua commented on #1
@EmielH Hi, since you iterate all the pages, right now the about page will also be listed on the index page.

[2018-08-30 06:19] EmielH commented on #1
Thanks for spotting this! I'm sure I tested it... I will look into this issue again!

[2018-09-01 07:15] EmielH commented on #1
@lizhuohua I have a test site that has a few regular pages and the about page, and the about page does not show up in the posts lists. Be sure to put the about page in `content/about/_index.md` and the regular posts in `content/posts/` or `content/post/`. Can you let me know if this works for you?

[2018-09-01 07:22] lizhuohua commented on #1
@EmielH Thanks a lot! It works. I put my about page in the wrong directory!

[2018-09-01 08:04] #1 closed

[2018-09-07 19:08] onedrawingperday opened #2 "Theme fails to render website due to not generated Resources"
Hi @EmielH

It seems that your recent commit https://github.com/EmielH/tale-hugo/commit/40be04b726f555d849da68b738f31365a057cf77 has broken your theme demo on the Hugo Site.

When I execute the Themes Site Build Script there is the following error despite the committed `/resources/` directory:

[code]

You theme's demo was once again generated when I reverted your commit so that line 21 of your `h

[2018-09-07 20:40] EmielH commented on #2
Hi @onedrawingperday

Thanks for letting me know! Unfortunately I don't have time this weekend, but I'll look into this as soon as possible. My guess is that since I changed the file name to I should have committed an updated resources directory as well.

[2018-09-13 18:43] EmielH commented on #2
@onedrawingperday Could you please check if my commit fixes this issue?

[2018-09-13 19:30] onedrawingperday commented on #2
@EmielH

The demo is generated now when I execute the Build Script.

It will be available again on the website once the theme submodule is updated.

Thanks!

[2018-09-13 21:39] digitalcraftsman commented on #2
I've updated the themes (including your's). The demo is now up and running again.

[2018-11-14 04:52] yanzhenjie commented on #2
The latest version has this problem again, the error message is as follows, what should I do?
[code]

[2018-11-14 08:45] EmielH commented on #2
@yanzhenjie The fastest fix is to install the extended edition of Hugo. I hope I'll have time to generate new generated CSS files and commit them to the repository later today.

I'm curious why this happened because I haven't changed anything related to CSS/SCSS in the last few months.

[2018-11-14 08:52] onedrawingperday commented on #2
@EmielH
I cloned your theme after the above comment to test and I am not getting the ERROR that @yanzhenjie reports.

---

Also since I'm here I would like to let you know that the [README](https://github.com/gohugoio/hugoThemes#common-permalink-issues) of the Hugo Themes repository was updated recently.

Apparently the use of `.RelPermalink` in the templates for Hugo Pipes Resources is a temporar

[2018-11-14 17:17] EmielH commented on #2
@onedrawingperday Thanks for the heads up, I subscribed to the issue you mentioned! In the meantime I'm going to set up Travis CI to make sure the theme doesn't break when using the regular version of Hugo.

[2018-11-14 18:09] EmielH commented on #2
@onedrawingperday Just to let you know: the automated build I set up using Travis CI does fail when using the regular Hugo version. See https://travis-ci.com/EmielH/tale-hugo/builds/91407129

I'm not exactly sure why the current generated CSS files are no longer working since I don't believe that I've changed anything pertaining to CSS or SCSS at all.

[2018-11-14 20:12] onedrawingperday commented on #2
@EmielH
I tested locally and for me there is no failure with the basic version of Hugo.

Here is the output
[code]

I think that you need to open an issue at the Hugo Forum about Travis CI failing to generate the Basic Example of Hugo with your theme.

There are others in the Forum who might help you with this that are more experienced with Travis CI than me.

[2018-11-14 20:19] EmielH commented on #2
@onedrawingperday Thanks a lot for your help! Generating my own site works perfectly fine on my local machine with the basic version too. Of course I could have tested this earlier, before bothering you again...

@yanzhenjie Is your problem solved yet? Are you using the newest version of Hugo? If not, could you create a new issue? Asking on the Hugo Forum (https://discourse.gohugo.io/) might be a

[2018-11-14 20:45] EmielH commented on #2
For future reference, the topic I created on the Hugo Forum: https://discourse.gohugo.io/t/hugo-basic-using-theme-with-hugo-pipes-works-on-local-machine-but-fails-on-travis-ci/15312

[2018-11-27 21:33] plefebvre91 opened #9 "Posts summary alignment issue ?"
Hi @EmielH

Posts (on the summary page) seems to be aligned one next to the other, instead of one above the other when the post short text is too... short.

I locally fixed the problem fixed by adding a `<br/>` at the end of ` layout/_default/summary.html` but I don't know if it's the right thing to do...

Thanks :)

[2018-11-27 21:45] EmielH commented on #9
Hi @plefebvre91, do you perhaps have a screenshot of this happening? Thanks!

[2018-11-28 20:24] plfbvr commented on #9
Yep :

![capture](https://user-images.githubusercontent.com/4353672/49179989-d79c9b00-f353-11e8-8d93-f5aa2ca2001a.png)

Or with a little more text :
![capture](https://user-images.githubusercontent.com/4353672/49180198-45e15d80-f354-11e8-8674-f852502fa02c.png)

[2018-11-29 20:48] EmielH commented on #9
Thanks for letting me know about this! I just committed a fix for this issue. Could you check whether it solves your problem?

[2018-11-30 18:47] plefebvre91 commented on #9
It works :+1:

[2018-11-30 18:48] plfbvr commented on #9
It works :+1:

[2018-11-30 18:48] #9 closed

[2018-12-03 18:52] xnmdyjj opened #10 "Favicon not displayed"
The favicon will not displayed when deployed to github pages.

I checked the source code of html:

link rel="icon" type="image/png" sizes="16x16" href="https://81app.github.ioimages/favicon-16x16.png"

[2018-12-03 20:27] EmielH commented on #10
Thanks for letting me know! I just pushed a commit that should solve this issue. Could you check this?

[2018-12-04 08:53] xnmdyjj commented on #10
yeah, it's fixed, thank you.

[2018-12-04 08:53] #10 closed

[2019-01-23 21:47] deniskyashif opened #13 "How to customize theme styles?"
I like this theme a lot, but would like to tweak it a little bit. Is there a way to add my own stylesheet in order to override some of the existing rules or add new ones?

[2019-01-24 19:46] EmielH commented on #13
Thank you for your kind comment! At the moment, it's not possible to add your own stylesheet. I know several themes that offer configuration options to add additional stylesheets; I will look into this.

In the meantime, Hugo allows for overriding files from the theme. For example, to override `<yoursite>/themes/tale/assets/scss/tale/_base.scss`, create a file `<yoursite>/assets/scss/tale/_base.sc

[2019-01-24 20:07] deniskyashif commented on #13
Hey, thanks a for the reply! The way I did it was my css file in ```assets/```, overrode ```head.html``` with by copying the one from the theme to ```/layouts/partials``` and included my stylesheet there using ```<link rel="stylesheet" href="{{ "assets/my.css" | relURL }}">```.

[2019-01-25 09:45] EmielH commented on #13
That's also a good option! :+1:

I'm going to leave this issue open as reminder to add support for custom stylesheets to the theme.

[2019-01-27 07:52] chaudum commented on #2
I have the same issue, but when **serving** a site on my local machine:

[code]

Building the site works, though:

[code]

[2019-01-27 12:41] digitalcraftsman commented on #2
@chaudum you've to use the "extended" version of Hugo which includes a processor for SCSS files. The output of `hugo version` tells me that you're only using the "normal" version of Hugo.

[2019-01-27 13:12] onedrawingperday commented on #2
@EmielH I see that in commit https://github.com/EmielH/tale-hugo/commit/0ec8697c81cb8d4cca6454733de5bb7e0554db58 you committed only `resources/_gen/assets/scss/scss/tale.scss_33d66d0b5f8b04b1d41c1da7ba50ddae.content` and not the generated `JSON` hence your theme fails to render a website locally if the user is only on the Basic Version of Hugo.

Whenever you update the SCSS you need generate the r

[2019-01-27 14:32] EmielH commented on #2
@onedrawingperday Thanks for your assistance! I did not commit the .json file - or, more specifically, git wouldn't stage the file - because it hadn't changed. I just generated the .json and .content files again, just to be sure, and the .json file is still the same.

This is the content of the newly generated .json file:

[code]

This matches the content of https://github.com/EmielH/tale-hugo/blo

[2019-01-27 15:36] onedrawingperday commented on #2
@EmielH

I installed Hugo Extended to regenerate your theme's resources:

First of all I moved the directory that is currently committed in your repo somewhere outside.

The new resources have a different hash than the old so it seems that something changed in the SCSS at some point and the resources were not regerated.

Currently your theme's demo is generated on the Hugo website (don't know why)

[2019-01-27 17:24] EmielH commented on #2
I did add minify at one point, using `"outputStyle" "compressed"` on line 21 of [head.html](https://github.com/EmielH/tale-hugo/blob/master/layouts/partials/head.html). This is why `tale.scss_33d66d0b5f8b04b1d41c1da7ba50ddae.content` from the repo is minified.

I deleted the existing resources and regenerated them. The newly created `.content` file on my machine is the same as the one in the git r

[2019-01-27 17:35] EmielH commented on #2
Just as I posted the previous comment, I found the problem. It's in this line:

[code]

The CSS is not compressed when running in server mode, i.e. using `hugo serve`, to make debugging easier. However, `.content` and `.json` files for this uncompressed CSS have not been added to the repo.

I will commit the uncompressed CSS to the repo.

- I'm thinking of a way to add this to Travis CI, since `hu

[2019-01-27 17:42] onedrawingperday commented on #2
@EmielH

Glad you found it. I was about to post the same.

I do have a question though. How do minify the stylesheet? You are not using Hugo's minify pipeline as far as I can tell. And you really should.

Have a look over here: https://gohugo.io/hugo-pipes/minification/#readout

[2019-01-27 17:47] EmielH commented on #2
I'm using `outputStyle compressed`, as documented [here](https://gohugo.io/hugo-pipes/scss-sass/#options). At the bottom, it says:

[2019-01-27 17:50] onedrawingperday commented on #2
Right. I missed that one because in my workflow I do not rely on SASS/SCSS.

Thank you for issuing a fix your theme will be updated on the website the next time that @digitalcraftsman updates the themes in the repository.

If anything else comes up I will let you know.

@chaudum You should pull the latest changes to resolve the problem you encountered.

[2019-01-27 17:50] #2 closed

[2019-01-27 17:54] EmielH commented on #2
@onedrawingperday Thanks again for your help!

[2019-01-27 17:58] onedrawingperday commented on #2
@EmielH You're welcome. Also thank you for pointing out something that I hadn't noticed.

[2019-01-27 20:24] chaudum commented on #2
Works like charm. Thanks a lot! Tale is a great theme :)

[2019-01-31 16:05] digitalcraftsman commented on #2
All themes have been updated a moment ago.

[2019-02-08 01:10] tastytea opened #14 "No background color"
A foreground-color is defined but no background-color.

![screenshot_2019-02-08t02 09 05](https://user-images.githubusercontent.com/3681516/52453243-4cebcf80-2b3e-11e9-91b4-7dd822352cca.png)

[2019-02-08 07:48] EmielH commented on #14
Hi @tastytea, I've never seen this happen before, do you have a site that I can look at to see what is happening? Or does your browser have a dark background by default?

[2019-02-08 10:04] tastytea commented on #14
https://themes.gohugo.io/theme/tale-hugo/
My browser has a dark background and a light text color by default.

[2019-02-11 18:06] EmielH commented on #14
Thanks for letting me know! I'll fix it by adding a background color. I don't have much time the next few days, though, so I can't make promises when it will be fixed, but feel free to submit a PR. 🙂

[2019-03-03 11:21] EmielH commented on #14
@tastytea Could you verify that my commit solves your problem? I'm working on getting the failing build up and running again; it fails due to an error that is unrelated to this issue.

[2019-03-03 11:58] tastytea commented on #14
Problem solved, thank you!

[2019-03-03 11:58] #14 closed

[2019-03-03 14:23] EmielH commented on #13
For everyone following this issue: this feature has just been released in [version 1.1.0](https://github.com/EmielH/tale-hugo/releases/tag/v1.1.0) of the theme.

[2019-03-03 14:23] #13 closed

[2019-04-26 16:14] hadisinaee opened #16 "How can I change the fonts?"
Hi,

Is it possible to customize the fonts? I tried with customized CSS param but I couldn't get any result?

Thanks

[2019-04-26 16:20] hadisinaee opened #17 "Configuring number of lines in preview"
Hi,

Is it possible to configure the number of lines to be shown in a post preview? I mean something like this:

[code]

[2019-04-27 09:27] EmielH commented on #17
Hi @hadisinaee, thank you for using Tale!

Your request is called line clamping. It is not part of the official CSS standard and [most browsers do not support it](https://caniuse.com/#feat=css-line-clamp). Therefore this will not be included in this theme. You can find some additional information in [this article](https://css-tricks.com/line-clampin/). If you don't mind the poor browser support, y

[2019-04-27 09:28] EmielH commented on #16
Hi @hadisinaee, please see [the documentation](https://github.com/EmielH/tale-hugo#additional-css-files) on using custom CSS files. Basically, you need to create your own CSS file, put that in the `/static` folder of your site and add the filename to the parameter.

[2019-04-28 15:34] huyvohcmc opened #18 "About page added to index"
I created the about page by the command `hugo new about.md` but noticed that the post is added to the index of the blog while it shouldn't. What is the correct way to do it?

[2019-04-28 18:20] EmielH commented on #18
The about page should reside in `content/about/_index.md`. This prevents it from showing up in the posts list.

[2019-04-29 10:22] #18 closed

[2019-04-29 13:58] huyvohcmc commented on #18
@EmielH When I host Hugo site on Github static page, there is no about file created (I used `hugo` to build). Can you share with me the correct directory structure in this case?

Mine is:

[code]

[2019-04-29 14:49] EmielH commented on #18
This directory structure looks fine to me. Unfortunately, I don't have any experience with Github Pages. I think you'll have better chances of getting a useful answer when you ask this question on the [Hugo Forums](https://discourse.gohugo.io). There are many knowledgeable people there, and some of them have probably used Github Pages as well.

[2019-05-01 20:02] #16 closed

[2019-05-01 20:26] #17 closed

[2019-07-11 00:16] efugier opened #21 "Wrong behavior for links in summaries"
## Links in summary do not work
[code]
=>
![](https://i.imgur.com/y6Axetb.png)

-----

## Links insert something (linebreak ?) when using ``
[code]
=>
![](https://i.imgur.com/vmiNC9v.png)

[2019-07-14 09:06] EmielH commented on #21
Thanks for bringing this to my attention. I will look into it!

[2019-07-18 21:51] MoreThanLuck opened #22 "Configuration Questions?"
Hi there! Really lovely work. I've used this theme to deploy a blog I hope to build a literary journal around, but I'm a little confused on some of the configuration. I'm not sure if there's a better home for these questions, so I figured I'd post here. If you'd prefer I remove and contact you directly, let me know.

1. I have a wordmark logo I made, is it possible to substitute that for the title

[2019-07-19 20:04] EmielH commented on #22
Hi @MoreThanLuck, no problem to pose questions here!

As a general remark: it is possible to override any of the theme's files by creating a file with the same name in your own project. So, from the root of your site, if you create a file named `layouts/partials/header.html`, Hugo will use that file instead of the one provided with the theme. This allows you to do some customisations especially fo

[2019-07-21 20:40] ian-battaglia commented on #22
Thanks so much Emiel! I've added these changes and am now just waiting for them to propagate to the website.

[2019-07-23 22:38] ian-battaglia commented on #22
Hmm, I'm still having trouble adding the wordmark to my header.
1. I've copied the `layouts/partials/header.html` from the theme directory into the same path on my own.
2. I've got a few different sizes and formats of the wordmark I'd intended to try out, in `~/static/uploads/`, some PNGs and one SVG, between 50-100 px tall.
3. Whenever I go to make the suggested change in the `layouts/partials/he

[2019-07-25 19:32] EmielH commented on #22
What do you mean by "no longer resolves"? Is there an error message on the console or on the screen?

[2019-07-25 20:00] ian-battaglia commented on #22
Yes, sorry. It breaks the site on Hugo server and also my netlify deployment. Are you able to replace the title with an image?

Maybe the code I'm writing is wrong; how should it look?

[2019-07-27 10:03] EmielH opened #23 "Can't use Markdown in summary variable in page frontmatter"
It currently is impossible to use Markdown in the summary variable in page frontmatter. Make sure Markdown in the summary variable is parsed.

This issue split off from #21.

[2019-07-27 10:23] EmielH commented on #21
I made #23 to describe the issue that it's not possible to use Markdown in the summary variable in the page frontmatter. This is fixed.

As for using links in the summary, that's a different story. Since the entire summary is a link to the article, adding a link in the summary makes Hugo output invalid HTML that contains an `<a>` tag inside an `<a>`. This is not allowed.

The browser then "fixes"

[2019-07-27 10:24] #23 closed

[2019-07-29 12:56] efugier commented on #21
Thanks for investigating !

Yes, I'd want to have links in the summary but that's a personal need. Most users would probably rather keep the original behaviour because it's more functional and having links in the summary is very situational.

I think it's best to keep things the way they are !

[2019-07-30 16:33] EmielH commented on #21
Fortunately, Hugo is very flexible. [The `<a>` tags for the post summaries are defined here](https://github.com/EmielH/tale-hugo/blob/7c1febd66ab49de2102ab02e258ca8752ed795f9/layouts/_default/summary.html#L1) -- feel free to create this file in your own project to override the theme's default summary. Put
[code]
around the part that you want to link to the article. Maybe some additional styling is

[2019-07-30 16:41] EmielH commented on #22
My first idea would be to [change this line](https://github.com/EmielH/tale-hugo/blob/7c1febd66ab49de2102ab02e258ca8752ed795f9/layouts/partials/header.html#L4) to:

[code]

And then of course alter the `images/title.png` to the path to your actual image. I have to admit that I didn't have the time to test this yet, but this would be the first thing I'd try/

[2019-07-30 16:53] efugier commented on #21
Thanks for the advices, I'll dig into it :)

[2019-07-30 16:53] #21 closed

[2019-08-06 01:59] t3rryhe opened #25 "Why doesn't the tale theme support the tables in markdown？"
As the title says

[2019-08-06 07:22] EmielH commented on #25
It should; I've never heard of tables not working. Could you give an example?

[2019-08-28 06:59] EmielH commented on #25
I'm closing this issue because there has been no activity for a while. If you still want to respond, feel free to reopen it!

[2019-08-28 06:59] #25 closed

[2019-08-28 06:59] EmielH commented on #22
I'm closing this issue because there has been no activity for a while. If you still want to respond, feel free to reopen it!

[2019-08-28 06:59] #22 closed

[2019-09-17 00:34] adampah commented on #18
I am still having the problem that the about page shows up on the index page as a blog post. Even when I try content/about/_index.md... does anyone know the solution? I tried reverting to a previous commit when this post was made and the problem is still there. It seems like all files in contents get displayed as blog posts. Does anyone know how to fix this?

[2019-09-17 00:35] adampah opened #26 "About page displaying as a blog post .. how to fix ??"
I am still having the problem that the about page shows up on the index page as a blog post. Even when I try content/about/_index.md... does anyone know the solution? I tried reverting to a previous commit when this post was made and the problem is still there. It seems like all files in contents get displayed as blog posts. Does anyone know how to fix this?

[2019-09-19 13:08] EmielH commented on #26
All regular content shows up as blog posts, this is the reason that the about file needs to be in `_index.md` which makes it the list page for about. It should then not appear in the list with regular blog posts. Could you show me a list of files in your project?

[2019-09-22 21:18] gavinr opened #27 "Use Hugo Menus"
instead of having `header-menu.html` as a partial, could we use [Hugo Menus](https://gohugo.io/content-management/menus/) instead? I'm interested to hear what you think, I'm happy to work on this as a PR.

[2019-09-23 20:47] deniskyashif opened #28 "Updated home page behavior with Hugo v >=0.58"
`hugo server`

After updating hugo to v >= 0.58, the home page lists the top level pages, instead of the ones in /content/posts. Changing

[code]

in /layouts/index.html preserves the existing behavior.

**Update:** To preserve the paginanion
[code]

[2019-09-27 13:53] hitdependency commented on #28
You are a saviour. I was looking for a solution for several hours

[2019-09-30 07:56] EmielH commented on #26
I'm closing this issue because there has been no activity for a while. If you still want to respond, feel free to reopen it!

[2019-09-30 07:56] #26 closed

[2019-09-30 07:57] EmielH commented on #27
Hi @gavinr, I would be interested in this idea! Feel free to submit a PR.

[2019-09-30 07:58] EmielH commented on #28
Hi @deniskyashif, thanks for bringing this to my attention! I will update the theme as soon as possible.

[2019-09-30 08:54] EmielH commented on #28
Could you check if the current version of the theme solves this problem? Thanks a lot!

[2019-09-30 16:39] deniskyashif commented on #28
Yes, it works. Thanks for the fix!

[2019-09-30 20:24] #28 closed

[2019-10-09 08:41] #27 closed

[2020-04-10 02:32] huangshayang opened #33 "can you give the examplesite？"
i don`t know how to config

[2020-04-13 08:47] EmielH commented on #33
All the information you need is in the [readme](https://github.com/EmielH/tale-hugo/blob/master/README.md). If you need further help setting your site, the [Hugo quick start guide](https://gohugo.io/getting-started/quick-start/) is a good place to start.

[2020-04-13 08:47] #33 closed

[2020-05-13 17:50] dotnetjunkie opened #34 "Local fonts do not load when site published to subdirectory"
I'm very happy with the introduction of the GDPR-compliant update in #30, which was something that I, up until now, implemented myself by overriding the default template. Unfortunately, the `fonts.css` requires the `fonts` folder to be located in the domain's root, which is not always the case. My blog, for instance, publishes the blog to /steven.

I believe that the fix is simple. Just change all

[2020-05-26 15:58] EmielH commented on #34
Apologies for my late response! I can see the problem, but I wonder if the nesting could also be deeper than one level. This would make `../` not work either. Maybe it would be useful to use the [base URL element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base)?

[2020-05-26 16:18] dotnetjunkie commented on #34
It was my understanding that the `../` in a css would always be relative to the location of the css. And I also assume that the relativiness between css and font files is always the same, because of the way the Tale template is structured. But I could very well be wrong in both cases.

This is unfortunately outside my scope of expertise. I know too little (meaning: nothing) about the base url, how

[2020-05-26 16:46] EmielH commented on #34
You are completely correct, I was thinking of relative URL's in the documents `<head>` tag. My bad!

Your proposed solution appears to work flawlessly in my tests. I just pushed a commit that should solve your problem. Please let me know whether it does!

[2020-05-27 07:36] dotnetjunkie commented on #34
I pushed the changes to [my blog](https://blogs.cuttingedge.it/steven/), and I can confirm, this works like a charm.

Thank you for developing and maintaining this theme. I know from experience how much work it is to maintain stuff.

[2020-05-27 07:36] #34 closed

[2020-05-27 18:32] EmielH commented on #34
Glad it works! Thanks for your kind words! Again, apologies that it took me a little while to respond at first.

[2020-06-27 03:49] a-p-o opened #36 "Why are Site.Params.Author and Site.Author.name separate?"
I am trying to understand the difference between these fields.

[code]

* https://github.com/EmielH/tale-hugo/blob/099821c/layouts/partials/single/post-info.html#L6
* https://github.com/EmielH/tale-hugo/blob/099821c/layouts/partials/footer.html#L3

[2020-07-03 16:09] EmielH commented on #36
Hi @a-p-o, I don't entirely understand your question. Both lines you have highlighted refer to the same variable:
`{{ .Site.Params.Author }}`.

Is your question that the instructions in the README seem to be wrong? The README says you need:

[code]

but the code seems to refer to:
[code]

I have to admit that does look weird to me. 🙂 Could you clarify the question, please, so that I can investigat

[2020-07-06 05:39] a-p-o commented on #36
Hi @EmielH, I can understand your confusion—I should have double-checked my links! I meant to link to this commit https://github.com/EmielH/tale-hugo/commit/a4040547736578f6baf05b41b6a5ecd52ff2f77b instead of that footer partial.

Since the footer partial is using `Site.Author.name` to adhere to hugo standards, does it make sense to use `Site.Author.name` in `partials/single/post-info.html` as wel

[2020-07-06 18:07] EmielH commented on #36
Thank you for clarifying! You are correct, I must have overlooked this when changing the footer. I will change it in the post info as well. Thanks a lot for filing this bug!

[2020-07-14 21:12] Nimamoh opened #37 "A link on the summary mess up the styling in index page"
I have a lot of post with links at the beginning (e.g: on the summary)

It appears to mess up with the front page:

![image](https://user-images.githubusercontent.com/16213090/87476910-7bb97f80-c627-11ea-9dca-ffec3704608a.png)

[2020-07-19 12:38] EmielH commented on #37
Hi @Nimamoh, this problem was reported before in #21. At the time I didn't really see a solution. The problem is that the entire summary links to the article. If you then use a link inside the summary, this creates nested `<a>` tags, which is not valid HTML.

Issue #21 contains some ideas how you can fix this for your own site. If you have any additional ideas on how I could fix that in the theme,

[2020-07-19 19:06] Nimamoh commented on #37
Oh, sorry for the dupe. If I find something useful to share I'll do. Thank you.

[2020-07-22 19:22] EmielH commented on #37
No worries! 👍

[2020-08-20 11:04] EmielH commented on #36
Hi @a-p-o, apologies for the delay. I've just pushed this change. You shouldn't need `.Site.Params.Author` anymore. Could you check if it works for you? Thanks!

[2020-08-25 04:13] a-p-o commented on #36
@EmielH, looks good! Thanks!

[2020-09-01 00:08] haohanyang opened #38 "Is Disqus supported in the theme?"

[2020-09-08 19:05] EmielH commented on #38
Apologies for the late reply. At the moment Disqus is not supported. Feel free to submit a PR if you have ideas on how to include this!

[2020-09-08 19:06] #36 closed

[2020-09-20 13:09] haohanyang commented on #38
It's fairly easy to implement it manually.

[2020-09-21 05:07] haohanyang commented on #38
Reopen to make pulling requests relevant #39

[2020-09-28 09:20] #38 closed

[2020-11-11 03:28] diehl opened #41 "Adding standalone pages"
Hello,

I'm interested in adding additional pages to my site that one navigates to from the header of the page, similar to an About page. Can you provide additional guidance on how to achieve that? All my attempts have failed so far. My pages are showing up as additional blog posts.

Thanks!

[2020-11-17 20:44] EmielH commented on #41
Hi!

My apologies for the late response! You should be able to create additional pages and link to them, e.g. in the menu, just like the about page. If you make sure they're not in the posts directory, they shouldn't show up as blog posts.

[2020-11-19 02:15] diehl commented on #41
Thanks! It took a little more work than expected. Here's the solution I managed to patch together with guidance elsewhere.
https://discourse.gohugo.io/t/tale-theme-creating-a-standalone-page/29359/20

[2020-11-19 02:15] #41 closed

[2020-11-19 19:49] EmielH commented on #41
Thanks for getting back to me! I'll investigate if this is something that the theme should facilitate so it's easier to add regular pages.

[2020-11-20 01:42] diehl commented on #41
Sure thing! There's definitely room for improvement I believe, unless I missed something. I created a template for regular pages that removed author references. Putting that into the default template would be great!

[2020-11-23 02:46] diehl opened #42 "Generating a tags page"
Could you clarify how to generate a tags page like in the demo [here](https://chesterhow.github.io/tale/tags/)?

[2020-11-25 20:23] EmielH commented on #42
It looks like this is a new feature that has been added to the Jekyll theme. You can probably do this using Hugo as well, but I'd need to look into that.

[2020-12-23 01:11] sn0ot opened #43 "Single method to override theme's colors"
Hiya @EmielH, many thanks for porting this theme to hugo and having it well organized!

Is there a single method to override the theme's colors in the `tale/assets/tale/*.scss` files or do they have to be painfully iterated manually?

I see hugo has mechanisms to override layout rules via [Hugo's Lookup order](https://gohugo.io/templates/lookup-order/) and was wondering if this theme allows for an

[2020-12-23 23:47] EmielH commented on #43
Hi @sn0ot, thanks for your kind comments!

All colours are defined in `_variables.scss` (and in `_syntax.scss` if you plan on showing syntax highlighting for code) so that's the only place that you should need to override them. All other files refer to colours defined in these files.

So if you create a `_variables.scss` for your own site and redefine the colours over there, Hugo should use those

[2020-12-24 16:32] sn0ot commented on #43
Thank you for the explanation!

I'll give it a shot over holiday :)

[2020-12-29 21:32] sn0ot commented on #43
Hi @EmielH, I have a question about the `_syntax.scss` for syntax highlighting.  Any changes I make to `_syntax.scss` do not get reflected in the built site for my code snippets. I followed [hugo's syntax highlighting reference ](https://gohugo.io/content-management/syntax-highlighting/)and even created another syntax file with `hugo gen chromastyles --style=monokai > _syntax.scss` and replaces `.

[2020-12-31 02:42] sn0ot opened #45 "Code highlighting does not update"
Changing values in `_syntax.scss` has no effect on the code's syntax highlights.

When building the site, the default style is always "monokai" as mentioned in [Hugo's Configure Markdown Goldmark Highlight](https://gohugo.io/getting-started/configuration-markup#highlight) section.

The only way I've managed to change theme is by including the following in `config.toml`

[code]

Is there a paramete

[2021-01-03 16:49] EmielH commented on #43
Apologies for the late reply, I didn't have access to a computer over the holidays. I'll look into your questions and pull request as soon as possible!

[2021-01-09 14:05] EmielH commented on #45
No worries! I'm going to check the syntax highlighting; changing its theme is definitely something that should be added to this theme's readme.

[2021-01-10 08:17] buinguyenhoangtho opened #46 "[Suggest][How to] How can i actually add font awsome previous the name."
Hi there. Thanks for the good theme you made it. I really like it. But you got anyway to add icon before the menu text?
I was trying to add some font-awesome icon but luck. :D
![image](https://user-images.githubusercontent.com/76900905/104117829-ed645300-5356-11eb-86f5-f4b69476a9dd.png)

[2021-01-18 15:55] EmielH commented on #46
You'd need to include the Font Awesome CSS-files as well. This is not included with the theme. When you've included the CSS-files, you can add them using the description [here](https://github.com/EmielH/tale-hugo#additional-css-files).

[2021-01-18 16:13] EmielH commented on #45
The way you described to change the theme is correct. The [Hugo documentation](https://gohugo.io/getting-started/configuration-markup#highlight) shows this. And there are [many themes to choose from](https://xyproto.github.io/splash/docs/all.html).

To completely customise your style, you probably need to do [something like this](https://gohugo.io/content-management/syntax-highlighting/#generate-s

[2021-01-18 17:52] ghost commented on #46
ah ok thanks you :D I'm fixed already. Thanks for the theme by the way :D :D

[2021-01-19 20:43] #46 closed

[2021-03-03 10:25] mastertinner opened #48 "Google Analytics not working"
We have recently switched https://github.com/bespinian/blog to this theme and are very happy with it. However, Google Analytics stopped to work. Does Tale officially support Google Analytics or can we add that as a feature?

[2021-03-06 13:33] EmielH commented on #48
Thanks for your kind words!

There's no built-in feature for Google Analytics (i.e. just add your id and you're set), but it should work perfectly fine if you add the code into one of the placholder partials. Could you tell me what is happening? Do you receive an error message?

[2021-03-08 09:08] elessar-ch commented on #48
Hugo has internal templates for Google Analytics, which should preferably be added in the `<head>` tag.
- https://gohugo.io/templates/internal#google-analytics
- https://developers.google.com/analytics/devguides/collection/analyticsjs

In my opinion, this would be beneficial to do in the Tale template.

[2021-03-10 20:18] EmielH commented on #48
Thank you very much for the pull request! I merged it into master and released a new version just now. @mastertinner, could you let me know if this solves your problem?

[2021-03-10 21:34] cloudlena commented on #48
It does. Thanks a lot for the great work, @elessar-ch and @EmielH!

[2021-03-10 21:34] #48 closed

[2021-07-03 00:19] Nimamoh opened #50 "Do the theme support rss ?"

[2021-07-03 00:31] #50 closed

[2021-07-03 00:33] Nimamoh commented on #50
Sorry, I just misconfigured something, please ignore this issue.

[2021-08-20 04:19] gavinr opened #52 "Multiple `<h1>` tags on home page"
By default, each post has an `<h1>` tag on the homepage listing of blog posts. This is incorrect from an SEO perspective. There should only ever be one `<h1>` tag on a page.

On the home page, the blog title should be the `<h1>` and the blog post list should have `<h2>`.

![image](https://user-images.githubusercontent.com/209355/130178436-f973a25d-57af-4595-8035-8326a1eaf0b5.png)
https://chesterho

[2021-08-23 17:17] #52 closed

[2021-11-22 11:38] Lukas2112 opened #57 "dark mode"
Could a dark mode be implemented in the theme?

[2021-11-23 06:55] Lukas2112 opened #58 "[feature request] "How long to read" function"
I wish there was another function that shows how long the blog post takes to read on average, depending on the post length.

[2021-11-23 06:56] Lukas2112 opened #59 "Example config.toml"
I wish there was a ``config.toml`` to make it easier to get started with this very, very minimalist and, in my opinion, very simple theme.

[2021-11-24 20:20] EmielH commented on #57
It probably could! Feel free to submit a PR if you implemented a dark theme. 🙂 I don't have a lot of time to work on the theme myself at the moment, unfortunately.

[2021-11-24 20:22] #37 closed

[2021-11-24 20:24] EmielH commented on #58
This may be something that Hugo or a plugin can do. If you find a solution, feel free to submit a PR! 🙂

[2021-11-24 22:34] linux-lukas commented on #58
I'll have a look through the Hugo Docs and see how I can help. :)

[2021-11-24 22:34] linux-lukas commented on #57
I will see how I can help with that! :)

[2021-11-27 15:33] isaced commented on #59
Hope this helps:

[code]

[2021-11-27 20:23] linux-lukas commented on #59
I'm going to do a PR, thanks.

[2022-02-11 16:51] cdecarlos commented on #58
PR https://github.com/EmielH/tale-hugo/pull/62

[2022-05-05 09:13] EmielH commented on #57
Added in #65

[2022-05-05 09:13] #57 closed

[2022-11-02 21:55] cloudlena opened #66 "Support Google Analytics v4"
Currently, only Google Analytics v3 (UA) is supported. We should add support for v4 by using `template "_internal/google_analytics.html"` instead of `template "_internal/google_analytics_async.html"`.